

.full {
  background-color: rgb(191,202,224);
  min-height: 100vh;
  min-width: 100vh;
}

.main {
  min-height: 100%;
  min-width: 100%;

}

.cell {

  text-align: center;
  /* padding: 1vh; */
  border: 2px solid black;
}

.cell:hover {
  transform: scale(1.02);
  transition-duration: 0.6s;
}

.cell-left{
  background-image:url("./leoHeadshot.jpg");
}

.variableImg {
  border-radius: 20px;
  max-height: 100%;
  max-width: 100%;
}